@import "tailwindcss";

.bg-one, .bg-two, .bg-three, .bg-four {
  background-size: cover;
  background-position: center;
}

.parallax-container {
  position: fixed; 
  height: 100vh;
}

.bg-one{
  background-image: url(./assets/image/bg-one.png);
  
}

.bg-two{
  background-image: url(./assets/image/bg-two.png);
  
}

.bg-three{
  background-image: url(./assets/image/bg-three.png);
}

.bg-four{
  background-image: url(./assets/image/bg-four.png);

}

